<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.complete.dao.TaskCompleteDao">

    <resultMap id="taskCompleteMap" type="com.gogoyang.yaofan.meta.complete.entity.TaskComplete">
        <result property="taskCompleteId" column="task_complete_id"/>
        <result property="taskId" column="task_id"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="readTime" column="read_time"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="processUserName" column="process_user_name"/>
        <result property="processResult" column="process_result"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processReadTime" column="process_read_time"/>
    </resultMap>

    <!--创建一个完成日志-->
    <insert id="createTaskComplete"
            useGeneratedKeys="true"
            keyProperty="ids"
            parameterType="com.gogoyang.yaofan.meta.complete.entity.TaskComplete">
      insert into complete
      (task_complete_id,task_id, create_user_id, create_time, content)
      values
      (#{taskCompleteId}, #{taskId}, #{createUserId}, #{createTime}, #{content})
    </insert>

    <select id="listTaskComplete" parameterType="map" resultMap="taskCompleteMap">
        select complete.ids,
           task_complete_id,
           task_id,
           create_user_id,
           create_user.name as create_user_name,
           complete.create_time,
           content,
           read_time,
           process_user_id,
           process_user.name as process_user_name,
           process_result,
           process_remark,
           process_time,
           process_read_time
        from (complete
          left join user_info create_user on create_user_id = user_id)
               left join user_info process_user on process_user_id = process_user.user_id
        where 1 = 1
          and task_id = #{taskId}
          order by complete.ids desc
    </select>

    <select id="totalCompleteUnread" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total_unread
        from complete
        where task_id = #{taskId}
        and read_time is null
        <![CDATA[
        and create_user_id <> #{userId}



        ]]>
    </select>

    <update id="setTaskCompleteReadTime" parameterType="map">
        update complete set
        read_time=#{readTime},
        process_user_id=#{readUserId}
        where task_id = #{taskId}
        and read_time is null
        <![CDATA[
            and create_user_id <> #{readUserId}


        ]]>
    </update>

    <!--统计任务的完成日志总数-->
    <select id="totalTaskComplete" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total_complete
        from complete
        where task_id = #{taskId}
    </select>

    <!--根据taskCompleteId读取任务完成日志-->
    <select id="getTaskCompleteTiny" parameterType="java.lang.String"
            resultType="com.gogoyang.yaofan.meta.complete.entity.TaskComplete">
        select * from complete
        where task_complete_id=#{taskCompleteId}
    </select>

    <!--处理完成日志结果-->
    <update id="processResult" parameterType="com.gogoyang.yaofan.meta.complete.entity.TaskComplete">
        update complete
        <set>
            <if test="processUserId!=null">
                process_user_id=#{processUserId},
            </if>
            <if test="processRemark!=null">
                process_remark=#{processRemark},
            </if>
            <if test="processTime!=null">
                process_time=#{processTime},
            </if>
            <if test="processResult!=null">
                process_result=#{processResult}
            </if>
            where task_complete_id=#{taskCompleteId}
        </set>
    </update>
</mapper>