<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.point.dao.PointDao">

    <resultMap id="pointMap" type="com.gogoyang.yaofan.meta.point.entity.PointLedger">
        <result property="taskId" column="task_id"/>
        <result property="pointIn" column="point_in"/>
        <result property="pointOut" column="point_out"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="processUserName" column="process_user_name"/>
        <result property="actType" column="act_type"/>
        <result property="readTime" column="read_time"/>
        <result property="processResult" column="process_result"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processReadTime" column="process_read_time"/>
        <result property="pointLedgerId" column="point_ledger_id"/>
    </resultMap>

    <!--创建一个point ledger-->
    <insert id="createPointLedger"
            useGeneratedKeys="true"
            keyProperty="ids"
            parameterType="com.gogoyang.yaofan.meta.point.entity.PointLedger">
      insert into point_ledger
      (task_id, point_in, point_out, user_id, process_user_id, create_time, remark, act_type)
      values
      (#{taskId}, #{pointIn}, #{pointOut}, #{userId}, #{processUserId}, #{createTime}, #{remark},#{actType})
    </insert>

    <!--统计用户的总积分收入和总积分支出-->
    <select id="totalUserPoint" parameterType="map" resultType="map">
        select sum(point_in) as total_point_in, sum(point_out) as total_point_out from point_ledger
        where 1=1
        and user_id=#{userId}
    </select>

    <!--查询所有用户申请兑换积分且未处理的申请-->
    <select id="listUnProcessWithdraw" parameterType="map" resultType="map">
        select point_ledger.ids,
           point_out,
           create_user.user_id as create_user_id,
           create_user.name    as create_user_name,
           create_user.phone   as create_user_phone,
           point_ledger.create_time,
           process_user_id,
           process_user.name   as process_user_name,
           act_type,
           point_ledger.read_time,
           point_ledger.process_result
        from (point_ledger
        left join user_info create_user on point_ledger.user_id = create_user.user_id)
             left join user_info process_user on process_user_id = process_user.user_id
        where act_type = 'POINT_WITHDRAW'
        and process_result is null
    </select>

    <!--读取我的积分账户列表-->
    <select id="listMyPointLedger" parameterType="map"
            resultMap="pointMap">
        select point_ledger.ids,
       point_ledger.task_id,
       point_in,
       point_out,
       point_ledger.user_id,
       user_info.name as user_name,
       process_user_id,
       process_user.name as process_user_name,
       point_ledger.create_time,
       remark,
       act_type,
       title
       from ((point_ledger
left join task on point_ledger.task_id=task.task_id)
left join user_info on point_ledger.user_id=user_info.user_id)
left join user_info process_user on process_user_id=process_user.user_id
where 1=1
and point_ledger.user_id=#{userId}
order by ids desc
limit #{offset},#{size}
    </select>
</mapper>