<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.team.dao.TeamDao">

    <resultMap id="teamMap" type="com.gogoyang.yaofan.meta.team.entity.Team">
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="managerId" column="manager_id"/>
        <result property="managerName" column="manager_name"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="lastUpdateUserId" column="last_update_user_id"/>
        <result property="lastUpdateUserName" column="last_update_user_name"/>
    </resultMap>

    <!--创建一个团队-->
    <insert id="createTeam"
            useGeneratedKeys="true"
            keyProperty="ids"
            parameterType="com.gogoyang.yaofan.meta.team.entity.Team">
      insert into team
      (team_id, name, description, create_time, create_user_id, status, manager_id)
      values
      (#{teamId}, #{teamName}, #{description}, #{createTime}, #{createUserId}, #{status}, #{managerId})
    </insert>

    <!--根据teamId读取团队详情-->
    <select id="getTeam" parameterType="map" resultMap="teamMap">
        select team.ids,
        team_id,
        team.name        as team_name,
        description,
        team.create_time,
        create_user_id,
        creator.name     as create_user_name,
        team.status,
        manager_id,
        manager.name     as manager_name,
        last_update_time,
        last_update_user_id,
        last_update.name as last_update_user_name
        from team
        left join user_info creator on create_user_id = user_id
        left join user_info manager on manager_id = manager.user_id
        left join user_info last_update on last_update_user_id = last_update.user_id
        where 1 = 1
        <choose>
            <when test="teamId!=null">
                and team_id=#{teamId}
            </when>
        </choose>
        <choose>
            <when test="teamName!=null">
                and team.name=#{teamName}
            </when>
        </choose>
    </select>

    <!--查询团队列表-->
    <select id="listTeam" parameterType="map" resultMap="teamMap">
        select team.ids,
        team_id,
        team.name as team_name,
        description,
        team.create_time,
        create_user_id,
        creator.name as create_user_name,
        team.status,
        manager_id,
        manager.name as manager_name
        from (team
        left join user_info creator on create_user_id=user_id)
        left join user_info manager on manager_id=manager.user_id
        where 1=1
        and team.status='ACTIVE'
        <choose>
            <when test="createUserId!=null">
                and create_user_id=#{createUserId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and team.status=#{status}
            </when>
        </choose>
        <choose>
            <when test="teamId!=null">
                and team_id=#{teamId}
            </when>
        </choose>
        <choose>
            <when test="managerId!=null">
                and manager_id=#{managerId}
            </when>
        </choose>
        <choose>
            <when test="teamName!=null">

                and team.name like concat('%',#{teamName}, '%')
            </when>
        </choose>
        order by team.ids desc
        <choose>
            <when test="offset!=null">
                limit #{offset},#{size}
            </when>
        </choose>
    </select>

    <!--修改团队信息-->
    <update id="updateTeam" parameterType="map">
        update team
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="description!=null">
                description=#{description}
            </if>
        </set>
        where team_id=#{teamId}
    </update>

    <!--删除一个团队-->
    <delete id="deleteTeam" parameterType="java.lang.String">
        delete from team
        where team_id=#{teamId}
    </delete>

    <!--设置团队状态-->
    <update id="setTeamStatus" parameterType="map">
        update team set
        status=#{status},
        last_update_time=#{lastUpdateTime},
        last_update_user_id=#{lastUpdateUserId}
        where team_id=#{teamId}
    </update>
</mapper>