<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.team.dao.TeamDao">

    <resultMap id="teamMap" type="com.gogoyang.yaofan.meta.team.entity.Team">
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="teamId" column="team_id"/>
        <result property="managerId" column="manager_id"/>
    </resultMap>

    <resultMap id="myTeamViewMap" type="com.gogoyang.yaofan.meta.team.entity.MyTeamView">
        <result property="userId" column="user_id"/>
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="userName" column="my_name"/>
        <result property="managerName" column="manager_name"/>
        <result property="creatorName" column="creator_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="teamViewMap" type="com.gogoyang.yaofan.meta.team.entity.TeamView">
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="createTime" column="create_time"/>
        <result property="managerName" column="manager_name"/>
        <result property="managerId" column="manager_id"/>
    </resultMap>

    <resultMap id="applyTeamMap" type="com.gogoyang.yaofan.meta.team.entity.ApplyTeam">
        <result property="applyTeamLogId" column="apply_team_log_id"/>
        <result property="applyTeamId" column="apply_team_id"/>
        <result property="applyUserId" column="apply_user_id"/>
        <result property="applyRemark" column="apply_remark"/>
        <result property="createTime" column="create_time"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="readTime" column="read_time"/>
        <result property="processResult" column="process_result"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processReadTime" column="process_read_time"/>
    </resultMap>

    <resultMap id="applyTeamViewMap" type="com.gogoyang.yaofan.meta.team.entity.ApplyTeamView">
        <result property="applyTeamLogId" column="apply_team_log_id"/>
        <result property="applyTeamId" column="apply_team_id"/>
        <result property="applyTeamName" column="apply_team_name"/>
        <result property="applyUserId" column="apply_user_id"/>
        <result property="applyUserName" column="apply_user_name"/>
        <result property="applyTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="managerId" column="manager_id"/>
        <result property="managerName" column="manager_user_name"/>
        <result property="applyRemark" column="apply_remark"/>
        <result property="processResult" column="process_result"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="processUserName" column="process_user_name"/>
        <result property="processReadTime" column="process_read_time"/>
        <result property="readTime" column="read_time"/>
    </resultMap>

    <!--创建一个团队-->
    <insert id="createTeam"
            useGeneratedKeys="true"
            keyProperty="ids"
            parameterType="com.gogoyang.yaofan.meta.team.entity.Team">
      insert into team
      (team_id, name, description, create_time, create_user_id, status, manager_id)
      values
      (#{teamId}, #{name}, #{description}, #{createTime}, #{createUserId}, #{status}, #{managerId})
    </insert>

    <select id="getTeamByName" parameterType="java.lang.String"
            resultMap="teamMap">
        select * from team
        where name=#{name}
    </select>

    <select id="getTeamByTeamId" parameterType="java.lang.String"
            resultMap="teamViewMap">
        select team_id, team.name as team_name, manager.name as manager_name, team.status, team.create_time,
        manager_id, description
        from team
        inner join user_info manager on team.manager_id = manager.user_id
        where team.team_id=#{teamId}
    </select>

    <insert id="createMyTeam"
            parameterType="com.gogoyang.yaofan.meta.team.entity.MyTeam">
        insert into my_team
        (user_id, team_id, status)
        values
        (#{userId}, #{teamId}, #{status})
    </insert>

    <!--根据团队名称关键字搜索团队-->
    <select id="listTeam" parameterType="map"
            resultMap="myTeamViewMap">
        select
        my_team.ids,
        my_team.user_id,
        my_team.team_id,
        team.name    as team_name,
        me.name      as my_name,
        manager.name as manager_name,
        creator.name as creator_name,
        my_team.status
        from (((my_team
        inner join team on my_team.team_id = team.team_id)
        inner join user_info me on my_team.user_id = me.user_id)
        inner join user_info manager on team.manager_id = manager.user_id)
        inner join user_info creator on team.create_user_id = creator.user_id
        where 1 = 1
        <choose>
            <when test="userId!=null">
                and me.user_id = #{userId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and my_team.status = #{status}
            </when>
        </choose>
        <choose>
            <when test="teamId!=null">
                and my_team.team_id = #{teamId}
            </when>
        </choose>
    </select>

    <!--创建一个加入团队的申请-->
    <select id="searchTeam" parameterType="map"
            resultMap="myTeamViewMap">
        select team_id, team.name as team_name, manager.name as manager_name, team.status
        from team
        inner join user_info manager on team.manager_id = manager.user_id
        where 1 = 1
        and team.name like concat('%',#{nameKey},'%')
        and team.status=#{teamStatus}
        <![CDATA[
            and manager_id<>#{currentUserId}
        ]]>

    </select>

    <insert id="createApplyTeam" parameterType="com.gogoyang.yaofan.meta.team.entity.ApplyTeam">
        insert into apply_team
        (apply_team_log_id, apply_team_id, apply_user_id, apply_remark, create_time)
        values
        (#{applyTeamLogId}, #{applyTeamId},#{applyUserId}, #{applyRemark}, #{createTime})
    </insert>

    <select id="listApplyTeam" parameterType="map"
            resultMap="applyTeamViewMap">
        select apply_team_log_id,
        apply_team_id,
        apply_user_id,
        apply_user.name as apply_user_name,
        create_user_id,
        manager_id,
        create_user.name as create_user_name,
        manager_user.name as manager_user_name,
        apply_team.create_time,
        team.name as apply_team_name,
        process_result
        from ((((apply_team
        inner join team on team_id = apply_team_id)
        inner join user_info apply_user on apply_user_id = user_id)
        inner join user_info create_user on create_user_id = create_user.user_id)
        inner join user_info manager_user on manager_user.user_id = manager_id)
        where 1=1
        and (
            manager_id=#{userId}
            or apply_user_id=#{userId}
        )
        order by apply_team.create_time desc
    </select>

    <select id="getApplyTeam" parameterType="java.lang.String"
            resultMap="applyTeamViewMap">
        select
        apply_team_log_id,
        apply_team_id,
       apply_user_id,
       apply_user.name   as apply_user_name,
       create_user_id,
       manager_id,
       create_user.name  as create_user_name,
       manager_user.name as manager_user_name,
       apply_team.create_time,
       team.name         as apply_team_name,
       apply_remark,
       process_result,
       process_remark,
       process_time,
       process_user_id,
       process_user.name as process_user_name,
       process_read_time,
       read_time
from (((((apply_team
    inner join team on team_id = apply_team_id)
    inner join user_info apply_user on apply_user_id = user_id)
    inner join user_info create_user on create_user_id = create_user.user_id)
         inner join user_info manager_user on manager_user.user_id = manager_id)
         left outer join user_info process_user on process_user.user_id=process_user_id)
where 1 = 1
and apply_team_log_id=#{applyId}
    </select>

    <!--统计团队或者某个用户未处理的申请数-->
    <select id="totalApplyTeamUnProcess" parameterType="map" resultType="int">
        select count(*) as totalUnProcess
        from apply_team
        where 1=1
        <if test="userId!=null">
            and apply_user_id = #{userId}
        </if>
        <if test="teamId!=null">
            and apply_team_id=#{teamId}
        </if>
        and process_result is null
    </select>

    <!--设置阅读时间-->
    <update id="setApplyTeamReadTime" parameterType="com.gogoyang.yaofan.meta.team.entity.ApplyTeamView">
        update apply_team set
        read_time=#{readTime}
        where apply_team_log_id=#{applyTeamLogId}
    </update>

    <!--处理团队申请结果-->
    <update id="processApplyTeam" parameterType="com.gogoyang.yaofan.meta.team.entity.ApplyTeam">
        update apply_team set
        process_result=#{processResult},
        process_remark=#{processRemark},
        process_time=#{processTime},
        process_user_id=#{processUserId}
        where apply_team_log_id=#{applyTeamLogId}
    </update>
</mapper>