<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.team.dao.TeamUserDao">
    <resultMap id="teamUserMap" type="com.gogoyang.yaofan.meta.team.entity.TeamUser">
        <result property="userId" column="user_id"/>
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="userName" column="my_name"/>
        <result property="managerName" column="manager_name"/>
        <result property="creatorName" column="creator_name"/>
        <result property="status" column="team_status"/>
        <result property="memberType" column="member_type"/>
        <result property="managerId" column="manager_id"/>
        <result property="teamCreateTime" column="team_create_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--创建一个新的团队用户链接-->
    <insert id="createTeamUser"
            parameterType="com.gogoyang.yaofan.meta.team.entity.TeamUser">
        insert into team_user
        (user_id, team_id, status, create_time, member_type)
        values
        (#{userId}, #{teamId}, #{status}, #{createTime}, #{memberType})
    </insert>

    <!--查询团队成员列表-->
    <select id="listTeamUser" parameterType="map" resultMap="teamUserMap">
        select
        team_user.ids,
        team_user.user_id,
        team_user.team_id,
        team.name as team_name,
        me.name as my_name,
        manager_id,
        manager.name as manager_name,
        creator.name as creator_name,
        team.status as team_status,
        description,
        member_type,
        team.create_time as team_create_time,
        team_user.create_time
        from (((team_user
        inner join team on team_user.team_id = team.team_id)
        inner join user_info me on team_user.user_id = me.user_id)
        inner join user_info manager on team.manager_id = manager.user_id)
        inner join user_info creator on team.create_user_id = creator.user_id
        where 1=1
        <choose>
            <when test="teamStatusNot!=null">
                <![CDATA[
            and team.status<>#{teamStatusNot}
            ]]>
            </when>
        </choose>
        <choose>
            <when test="teamStatus!=null">
                and team.status=#{teamStatus}
            </when>
        </choose>
        <choose>
            <when test="managerId!=null">
                and manager_id=#{managerId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and team_user.status=#{status}
            </when>
        </choose>
        <choose>
            <when test="userId!=null">
                and team_user.user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="teamId!=null">
                and team_user.team_id=#{teamId}
            </when>
        </choose>
        <choose>
            <when test="memberType!=null">
                and member_type=#{memberType}
            </when>
        </choose>
        order by ids desc
        <choose>
            <when test="offset!=null">
                limit #{offset}, #{size}
            </when>
        </choose>
    </select>

    <!--修改用户在团队的信息-->
    <update id="updateTeamUser" parameterType="map">
        update team_user
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="memberType!=null">
                member_type=#{memberType}
            </if>
        </set>
        where ids=#{ids}
    </update>
</mapper>