<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.yaofan.meta.team.dao.TeamApplyLogDao">

    <resultMap id="teamApplyMap" type="com.gogoyang.yaofan.meta.team.entity.TeamApplyLog">
        <result property="teamApplyLogId" column="team_apply_log_id"/>
        <result property="teamId" column="team_id"/>
        <result property="applyUserId" column="apply_user_id"/>
        <result property="applyRemark" column="apply_remark"/>
        <result property="createTime" column="create_time"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="readTime" column="read_time"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processReadTime" column="process_read_time"/>
    </resultMap>

    <resultMap id="teamApplyViewMap" type="com.gogoyang.yaofan.meta.team.entity.TeamApplyView">
        <result property="teamApplyLogId" column="team_apply_log_id"/>
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="applyUserId" column="apply_user_id"/>
        <result property="applyUserName" column="apply_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="processUserName" column="process_user_name"/>
        <result property="applyRemark" column="apply_remark"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processTime" column="process_time"/>
        <result property="processReadTime" column="process_read_time"/>
        <result property="readTime" column="read_time"/>
        <result property="teamManagerId" column="manager_id"/>
        <result property="teamManagerName" column="team_manager_name"/>
    </resultMap>

    <!--创建一个团队申请日志-->
    <insert id="createTeamApplyLog" parameterType="com.gogoyang.yaofan.meta.team.entity.TeamApplyLog">
        insert into team_apply_log
        (team_apply_log_id, team_id, apply_user_id, apply_remark, create_time)
        values
        (#{teamApplyLogId}, #{teamId},#{applyUserId}, #{applyRemark}, #{createTime})
    </insert>

    <!--读取团队申请日志列表-->
    <select id="listTeamApplyLog" parameterType="map"
            resultMap="teamApplyViewMap">
        select team_apply_log.ids,
        team_apply_log_id,
        team_apply_log.team_id,
        team.manager_id,
        team_manager.name as team_manager_name,
        apply_user_id,
        apply_user.name   as apply_user_name,
        process_user_id,
        process_user.name as process_user_name,
        team_apply_log.create_time,
        team.name         as team_name,
        team_apply_log.status,
        apply_remark,
        process_remark
        from ((((team_apply_log
        left join  team on team.team_id = team_apply_log.team_id)
        left join user_info apply_user on apply_user_id = user_id)
        left join user_info process_user on process_user_id = process_user.user_id)
        left join user_info team_manager on manager_id=team_manager.user_id)
        where 1 = 1
        <choose>
            <when test="applyUserId!=null">
                and apply_user_id=#{applyUserId}
            </when>
        </choose>
        <choose>
            <when test="processUserId!=null">
                and process_user_id=#{processUserId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and team_apply_log.status=#{status}
            </when>
        </choose>
        order by create_time desc
        limit #{offset},#{size}
    </select>

    <!--查询团队申请日志详情-->
    <select id="getTeamApply" parameterType="java.lang.String"
            resultMap="teamApplyViewMap">
        select
        apply_team_log_id,
        apply_team_id,
       apply_user_id,
       apply_user.name   as apply_user_name,
       create_user_id,
       manager_id,
       create_user.name  as create_user_name,
       manager_user.name as manager_user_name,
       apply_team.create_time,
       team.name         as apply_team_name,
       apply_remark,
       status,
       process_remark,
       process_time,
       process_user_id,
       process_user.name as process_user_name,
       process_read_time,
       read_time
from (((((apply_team
    inner join team on team_id = apply_team_id)
    inner join user_info apply_user on apply_user_id = user_id)
    inner join user_info create_user on create_user_id = create_user.user_id)
         inner join user_info manager_user on manager_user.user_id = manager_id)
         left outer join user_info process_user on process_user.user_id=process_user_id)
where 1 = 1
and apply_team_log_id=#{applyId}
    </select>

    <!--统计团队或者某个用户未处理的申请数-->
    <select id="totalApplyTeamUnProcess" parameterType="map" resultType="int">
        select count(*) as totalUnProcess
        from team_apply_log
        where 1=1
        <if test="userId!=null">
            and apply_user_id = #{userId}
        </if>
        <if test="teamId!=null">
            and team_id=#{teamId}
        </if>
        and status='PENDING'
    </select>

    <!--设置团队申请日志的阅读时间-->
    <update id="setTeamApplyLogReadTime" parameterType="map">
        update team_apply_log set
        read_time=#{readTime}
        where team_apply_log_id=#{teamApplyLogId}
    </update>

    <!--处理团队申请结果-->
    <update id="processTeamApplyLog" parameterType="map">
        update apply_team set
        status=#{status},
        process_remark=#{processRemark},
        process_time=#{processTime},
        process_user_id=#{processUserId}
        where apply_team_log_id=#{applyTeamLogId}
    </update>

    <!--统计用户未读的团队申请日志-->
    <select id="totalTeamApplyLogUnRead" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total from team_apply_log
        where read_time is null
        <![CDATA[
        and apply_user_id<>#{userId}
        ]]>
        and team_id in
        <foreach item="item" collection="teamList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>
</mapper>